<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1><%= listTittle %></h1>
      <h3>La hora es: <%= horaActual %> : <%= minutoActual %> </h3>
    </div>

    <div class="box">
      <% for (let i=0; i<newListItems.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %></p>
      </div>
      <% }; %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" autocomplete="off" placeholder="Nuevo item">
        <button type="submit" name="listName" value="<%= listTittle %>">+</button>
      </form>

    </div>

  </body>

</html>
